---
layout: default
---

<div class="releases">
  <div class="releases__inner-wrapper">
    <script>
      window.clientId = '73bc5f78348d25ac2e9035da7c8fff2e';
      window.releases = [];
      {% for release in site.releases %}{% if release.published %}
      window.releases.push({
        title: "{{ release.title }}",
        soundcloudUrl: "{{ release.soundcloud_url }}",
        index: {{forloop.index0}}
      });
      {% endif %}{% endfor %}
    </script>

    {% for release in site.releases %}{% if release.published %}
    <div class="releases__release release grid">
      {% if release.artwork %}
      <div class="release__img-outer-wrapper">
        <div class="grid__item sm--ten-twelfths push--sm--two-twelfths med--seven-twelfths push--med--five-twelfths release__img-container">
          <div class="release__img-inner-wrapper">
            <img class="release__img" src="{{ release.artwork }}">
          </div>
        </div>
      </div>
      {% endif %}
      <div class="grid__item sm--nine-twelfths push--sm--three-twelfths med--six-twelfths push--med--six-twelfths">
        {% if release.artist %}
          <h2 class="release__title">{{ release.artist }}</h2>
        {% endif %}
        <div class="release__react-soundcloud-container" data-react-soundcloud-container={{ forloop.index0 }} id="react-soundcloud-container-{{ forloop.index0 }}"></div>
      </div>
    </div>
    {% endif %}{% endfor %}
  </div>
</div>
