// Type sizing and margins.
body {
  font-family: "Helvetica Neue", Helvetica, "sans-serif";
  font-family: 'Trade Gothic W01', Helvetica, "sans-serif";
  font-weight: 200;
}

h1, h2, h3, h4, h5, h6, p, ul, li {
  margin: 0;
  padding: 0;
  line-height: 1.5;
}

h1 {
  font-size: $h1;
  font-weight: 600;
}

h2 {
  font-size: $h2;
  line-height: 1;
}

h3 {
  font-size: $h3;
}

p {
  font-size: $p;
  margin-bottom: $p * 1.5;
}