// Elements outside of APP.
// Sizing and background color.
html,
body {
  min-height: 100%;
  width: 100%;
}

.page-wrapper {
  &__inner {
    padding: $unit;
    max-width: 900px;
    margin: 0 auto;
    border-left: 2px dotted rgba($black, 0.05);
  }
}