.release {

  margin-bottom: $unit*6;

  &__img-container {
    margin-bottom: $unit;
  }

  &__title {
    text-transform: uppercase;
    margin-bottom: $unit;
  }

  &__react-soundcloud-container {

  }
}