.sc {

  &__play,
  &__pause {
    position: absolute;
    left: 0;
    width: auto;
    margin: 0;
    border: none;
    outline: none;
    padding: 0;
    background: none;
    top: -2px;
  }

  &__progress-wrapper {
    // display: flex;
    // align-items: center;
    // justify-content: center;
    position: relative;
    padding-left: $unit*2;
  }

  &__progress {
    position: relative;
    width: 100%;
    height: $unit*.75;
    // background-color: rgba($black, 0.08);
    // border: 2px solid $grey-dark;
    border-bottom: 2px solid $black;
    // border-left: 2px solid $black;
    // border-right: 2px solid $black;
    cursor: pointer;
  }

  &__progress-inner {
    position: absolute;
    left: 0;
    bottom: 0px;
    height: 100%;
    background-color: none;
    border-right: 2px solid $black;
  }

  &__playlist-row {
    margin-bottom: $unit;
    padding: $unit;
  }

  &__playlist-row-img {
    
  }

  &__track-list {
    list-style-type: none;
    margin-left: 0;
    margin-bottom: $unit;
  }

  &__track {
    text-transform: uppercase;
    font-weight: 400;
    font-size: $h4;
    cursor: pointer;
  }

  &__track-length {
    font-size: $small;
    margin-left: $unit/2;
  }

  &__loader {
    font-weight: 600;
    font-size: $p;
    overflow: hidden;
    text-transform: uppercase;
  }
}
