.sc {

  &__play,
  &__prev,
  &__next {
    padding: $unit/2;
    width: $unit*3;
  }

  &__progress {
    position: relative;
    width: 100%;
    height: $unit;
    background-color: $grey-dark;
    border: 2px solid $grey-dark;
    cursor: pointer;
  }

  &__progress-inner {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    background-color: $white;
  }

  &__playlist-row {
    margin-bottom: $unit;
    padding: $unit;
  }

  &__playlist-row-img {
    
  }
}