.sc {

  &__play,
  &__prev,
  &__next {
    padding: $unit/2;
    width: $unit*3;
  }

  &__progress {
    position: relative;
    width: 100%;
    height: $unit;
    background-color: $white;
    border: 2px solid $grey-dark;
    // border-bottom: 2px solid $grey-dark;
    cursor: pointer;
  }

  &__progress-inner {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    background-color: $grey-dark;
    border: 1px solid $white;
  }

  &__playlist-row {
    margin-bottom: $unit;
    padding: $unit;
  }

  &__playlist-row-img {
    
  }

  &__track-list {
    list-style-type: none;
    margin-left: 0;
    margin-bottom: $unit;
  }

  &__track {
    text-transform: uppercase;
    font-weight: 400;
    font-size: $h4;
    cursor: pointer;
  }

  &__track-length {
    font-size: $small;
    margin-left: $unit/2;
  }

  &__loader {
    font-weight: 600;
    font-size: $p;
    overflow: hidden;
    text-transform: uppercase;
  }
}
